
{% for week in month %}
    <tr>
        {% for day in week %}
            <td class="soloist-calendar-day">
                {% if month.contains(day.begin) %}
                    {{ day.begin.format('d') }}
                    <ul class="soloist-calendar-events">
                        {% for event in calendr_events(day, options) %}
                            <li>
                                <a href="{{ path('soloist_calendar_event_show', { 'slug': event.slug }) }}">
                                    {{ event.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
