{% extends 'SoloistCalendarBundle::layout.html.twig' %}
{% block soloist_calendar_layout %}
<h1>
    {% if calendar is not null %}
        {{ calendar.title }}
    {% else %}
        {% trans %}soloist.calendar.all_events{% endtrans %}
    {% endif %}
</h1>
<table class="soloist-calendar">
    {% include 'SoloistCalendarBundle:Default:calendar_header.html.twig' %}
    <tbody>
    {% include 'SoloistCalendarBundle:Default:calendar_month.html.twig' %}
    </tbody>
</table>

{% endblock %}
