<table class="soloist-calendar">
    {% include 'SoloistCalendarBundle:Default:calendar_header.html.twig' %}
    <tbody>
    {% include 'SoloistCalendarBundle:Default:calendar_month.html.twig' %}
    </tbody>
</table>
